[{:block/name "1",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "2",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[aws-organization",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[gcp-project",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[high-quality-password",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[home]",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[network-nat",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[network-protocol-ipsec",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[network-protocol-multicast",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[saml",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[security-origin-access-identity",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/_",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/account",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/compute",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/compute/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052705}
 {:block/name "[z_zettels_tag=amazon/aws/compute/ec2",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/compute/ec2/_",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/compute/pricing",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/dns",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "[z_zettels_tag=amazon/aws/dns/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/iam",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/storage",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/storage/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/storage/gateway",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/storage/gateway/_",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/storage/s3",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/storage/s3/_",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/storage/s3/security",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/storage/s3/security/_",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/vpc",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=amazon/aws/vpc/_",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/vpc/connection",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/vpc/connection/_",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=amazon/aws/vpc/gateway",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=amazon/aws/vpc/gateway/_",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "[z_zettels_tag=google",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=google/gcp",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=google/gcp/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=network",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=network/_&grouped",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=network/protocol",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "[z_zettels_tag=network/protocol/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "[z_zettels_tag=security",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "[z_zettels_tag=security/_",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "a",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-account",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-account-support-basic",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-account-support-business",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-account-support-developer",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-account-support-enterprise",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-ami",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-api-gateway",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-arn",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-cognito",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-compute",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-ec2",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-compute-ec2-instance-store",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-compute-ec2-placement-group",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-instance-spot-fleet",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-instance-type",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-lambda",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-network-security-group",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-compute-pricing",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-dns",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-dns-routing",
  :block/created-at 1644893561473,
  :block/updated-at 1644931389632}
 {:block/name "aws-dynamodb",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-ebs",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-ebs-snapshot",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-efs",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-elastic-transcoder",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "aws-hsm",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-iam",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-iam-account-mfa",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-iam-group",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-iam-policy",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-iam-policy-document",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "aws-iam-role",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-iam-tags",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-iam-user",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-kinesis",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-kms",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-master-account",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-organization",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-pricing",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-rds",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-region",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-resource-access-manager",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-root-account",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-s3",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-s3-bucket",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-s3-bucket-sharing",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-s3-glacier",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-glacier-deep-archive",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-s3-intelligent-tiering",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-s3-lifecycle-management",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-performance",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-security",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-select",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-s3-signed-token",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-standard",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-standard-infrequent-access",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-standard-infrequent-access-single-zone",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-s3-worm",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-sam",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-simple-workflow-service",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-single-sign-on",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-sns",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-sqs",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-ssm",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-storage",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-storage-cache",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-storage-gateway",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-storage-gateway-file",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-storage-gateway-tape",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-storage-gateway-volume",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-system-manager-parameter-store",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-transit-gateway",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-connection",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-connection-directconnect",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-vpc-connection-peering",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-connection-privatelink",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-direct-connect",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-elastic-ip-address",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-elastic-network-interface",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-endpoint",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-vpc-gateway-endpoint",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-gateway-nat",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-global-accelerator",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-interface",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-interface-endpoint",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-internet-gateway",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-private-link",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-requester-managed-network-interface",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-security",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-security-firewall-manager",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-vpc-security-shield",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "aws-vpc-security-web-application-firewall",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "aws-vpc-subnet",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-vpc-virtual-private-gateway",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "aws-web-identity-federation",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "b",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "c",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "card",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "contents",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "doing",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "done",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "favorites",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "feb 15th, 2022",
  :block/created-at 1644930997742,
  :block/updated-at 1644931730865}
 {:block/name "gcp",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "gcp-billing-account",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "gcp-project",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "high-availability-architecture",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "high-quality-password",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "in-progress",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "index",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "kubernetes-tips",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "later",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "mar 23rd, 2022",
  :block/created-at 1648078303185,
  :block/updated-at 1648078303185}
 {:block/name "mom",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "network",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "network-nat",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "network-protocol",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "network-protocol-arp",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "network-protocol-bgp",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "network-protocol-ipsec",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "network-protocol-multicast",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "network-subnet-cidr",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "now",
  :block/created-at 1648069052705,
  :block/updated-at 1648069052705}
 {:block/name "query page",
  :block/created-at 1644893481671,
  :block/updated-at 1644931371225}
 {:block/name "readme",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "saml",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "security",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "security-json-web-token",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "security-origin-access-identity",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "security-pem-file",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "stenciljs",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "stencils",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "todo",
  :block/created-at 1644931763370,
  :block/updated-at 1644931763416}
 {:block/name "tools-editor-vscode",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "tools-knockout",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "tools-knockout-observable",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "user-identity-service",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "wait",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "waiting",
  :block/created-at 1648069052702,
  :block/updated-at 1648069052702}
 {:block/name "z_zettels_tag=amazon/aws/_&timeline",
  :block/created-at 1648069052703,
  :block/updated-at 1648069052703}
 {:block/name "z_zettels_tag=amazon/aws/storage/gateway/_",
  :block/created-at 1648069052704,
  :block/updated-at 1648069052704}
 {:block/name "z_zettels_tag=amazon/aws/vpc/connection/_",
  :block/created-at 1648069052702, 
  :block/updated-at 1648069052702}]
